---
import Section from "@/components/Section.astro";

import { work } from "cv.json";
---

<Section title="Experiencia profesional">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Presente";
          const years = `${startYear} - ${endYear}`;
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{name}</h3>
                    <h4>{position}</h4>
                  </div>
                  <time>{years}</time>
                </header>
                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
    ul  {
       display: flex;
       flex-direction: column;
       gap: 32px;
    }

    article h3 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    article h4 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    time {
        font-size: 0.8rem;
        color: black
        min-width: 102px;
    }

    article p {
        font-size: 0.8rem;
    }
</style>
